description "Gunicorn server for {{ project_name }}"

start on net-device-up
stop on shutdown

respawn

chdir {{ django_dir }}
exec {{ virtualenv_dir }}/bin/gunicorn \
    --bind 127.0.0.1:8080 \
    --workers {{ gunicorn_num_workers }} \
    --max-requests {{ gunicorn_max_requests }} \
    --timeout 120 \
    --user {{ gunicorn_user }} \
    --access-logfile {{ webapp_dir }}/gunicorn_access.log \
    --error-logfile {{ webapp_dir }}/gunicorn_error.log \
    --env SECRET_KEY={{ DJANGO_SECRET_KEY }} \
    --env DJANGO_SECRET_KEY={{ DJANGO_SECRET_KEY }} \
    --env DJANGO_SETTINGS_MODULE={{ django_settings }} \
    --env DJANGO_AWS_ACCESS_KEY_ID={{ DJANGO_AWS_ACCESS_KEY_ID }} \
    --env DJANGO_AWS_SECRET_ACCESS_KEY={{ DJANGO_AWS_SECRET_ACCESS_KEY }} \
    --env DJANGO_AWS_STORAGE_BUCKET_NAME={{ DJANGO_AWS_STORAGE_BUCKET_NAME }} \
    --env DATABASE_URL=postgres://localhost/{{ database_name }} \
    --env SENDGRID_USERNAME={{ SENDGRID_USERNAME }} \
    --env SENDGRID_PASSWORD={{ SENDGRID_PASSWORD }} \
    --env DJANGO_LOGFILE_PATH={{ DJANGO_LOGFILE_PATH }} \
    config.wsgi:application
